@model List<OnlineDBSF.Models.GameSession>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DBSF - Searching</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
    <link href="~/CSS/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/CSS/Lobby.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/lobby.js"></script>
</head>
<body>
    <div class="All-Sessions">
        <table class="table table-bordered table-hover">
            <tr>
                <th>
                    <h5>Host</h5>
                </th>
                <th>
                    <h5>Wins</h5>
                </th>
                <th>
                </th>
            </tr>
            @foreach (var i in Model)
            {
                <tr>
                    <td>
                        <h5>@i.user1.Username</h5>
                    </td>
                    <td>
                        <h5>@i.user1.Wins</h5>
                    </td>
                    <td>
                        <a href="/lobby/join/@i.ID">Join</a>
                    </td>
                </tr>
            }

        </table>
    </div>
</body>
</html>
